<!DOCTYPE html>
<html>
<head>
  <title>ENS Loan Registrar</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/4cb6f345c4.js"></script>
  <script src="./app.js"></script>
</head>

<body ng-app="LoanRegistrarApp">
  <div class="container" ng-cloak>
      <br>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#loan-registrar" aria-controls="loan-registrar" role="tab" data-toggle="tab">Loan Registrar</a></li>
      </ul>

      <div class="tab-content">
        <br>
        <div ng-controller="LoanRegistrarCtrl" role="tabpanel" class="tab-pane active" id="loan-registrar">
          <div class="row">

            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">Apply Loan</div>
                <div class="panel-body">
                  <form>
                    <div class="form-group">
                      <label for="">Domain</label>
                      <input ng-model="domainName" type="text" class="form-control"></input>
                    </div>
                    <div class="form-group">
                      <button ng-click="checkDomainStatus()" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
  </div>
</body>
</html>
